# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environment
# -----------------------------
venv/
env/

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# System files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Model files (recommended to ignore)
# -----------------------------
*.pkl

# -----------------------------
# Temporary files
# -----------------------------
*.tmp

# -----------------------------
# Streamlit cache
# -----------------------------
.streamlit/